{% extends "base.html" %}
{% block content%}
    <section>
        <div class="container">
             <button id="btn">+</button> 
            <div class="pop-up">
                <form class="popup-content" method="POST">
                    <img src="../src/reject.png" alt="close" class="close">
                    <input type="text" placeholder="Title" class="title" name="title">
                    <input type="text" placeholder="Description" class="description" name="description">
                    <input type="text" placeholder="Price" class="price" name="price">
                    <button type="submit">submit</button>         
                </form>
            </div>
        </div>
        <div class="container">
            <div class="menu">
                <div class="current-user text-center">
                    <h3>{{user.buisness_name}}</h3>
                    <p>{{user.address}}</p>
                    <p>{{user.phoneNo}}</p>
                </div>
                <ul class="item">
                    {% for item in user.items %}
                    
                    <div>
                        <h6>{{item.title}}</h6>
                        <span>{{item.price}}</span>
                        
                    </div>
                    <div>
                        <p>{{item.description}}</p>
                        <button type="button" class="btn-close" onclick="deleteItem({{item.id}})">  
                        </button>
                        <img src="../src/close.png" alt="" onclick="deleteItem({{item.id}})" class = "remove-task">
                    </div>

                    {% endfor %}
                    
                </ul>
            </div>    
        </div>
    </section>

{% endblock %}